[user]
	email = jay.bulk@tuta.io
	name = Rhett Bulkley
	signingkey = C14C842007A46480
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[core]
	editor = nvim
	excludesfile = /Users/jaybulk/.config/.gitignore_global
	pager = delta
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[delta]
	line-numbers = true
	syntax-theme = gruvbox
	side-by-side = false
	navigate = true
	light = false
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[alias]
  farse = force --force-with-lease
  co = checkout
  branch = switch
  br = switch
  ct = commit
  st = status
  sta = status
  stat = status
  rev-pasre = rev-parse
  rev-pares = rev-parse
  rev-prase = rev-parse
  rt = rev-parse --top-level
  fault = blame -w -C -C -C -L
  swc = switch -c
  swi = switch
[diff]
    colorMoved = default
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[includeIf "gitdir:~/dev/"]
    path = ~/dev/.gitconfig
[includeIf "gitdir:~/oss/"]
    path = ~/oss/.gitconfig
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
    auto = false
    strategy = incremental
